<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      <li class="item">ZDN Enterprises, LLC</li>
    </div>
  </div>
</div>
